@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Farmers Market API</h1>

    <p>Your project is running successfully.</p>

    <p>
        👉 <a href="/swagger">Open Swagger UI</a>
    </p>
</div>